body{
    background-color: rgb(186, 213, 254);
    
}
.h {
   border: 1px solid red ;
    width: auto;
    display: flex;
    justify-content: center;
    
    
    
}
.temp{

}
h1{
  
   
    
    white-space: nowrap;
    color: rgb(144, 7, 7);
    font-size: xx-large;
    margin: auto; 
    border-right: 4px solid black;
   padding: 1%;
     animation: write 2s steps(10 ,end)  1 , blink 1s step-end infinite;
   overflow: hidden;
    font-family: monospace;
}


@keyframes write{
     0%{
         width: 0                  
     }
    100%{
        width: 100%;
        
    }
}
@keyframes blink{
     0%, 100%{
         border-color: black;
     }
     50%{
         border-color: transparent;
     }
 }    
     

img{
    visibility: hidden;
    white-space: pre-line;
    width: 100%;
    height: auto;
}